# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
dhd-frontend-angular-win32-x64/chrome_100_percent.pak
dhd-frontend-angular-win32-x64/chrome_200_percent.pak
dhd-frontend-angular-win32-x64/d3dcompiler_47.dll
dhd-frontend-angular-win32-x64/dhd-frontend-angular.exe
dhd-frontend-angular-win32-x64/ffmpeg.dll
dhd-frontend-angular-win32-x64/icudtl.dat
dhd-frontend-angular-win32-x64/libEGL.dll
dhd-frontend-angular-win32-x64/libGLESv2.dll
dhd-frontend-angular-win32-x64/LICENSE
dhd-frontend-angular-win32-x64/LICENSES.chromium.html
dhd-frontend-angular-win32-x64/resources.pak
dhd-frontend-angular-win32-x64/snapshot_blob.bin
dhd-frontend-angular-win32-x64/v8_context_snapshot.bin
dhd-frontend-angular-win32-x64/version
dhd-frontend-angular-win32-x64/vk_swiftshader_icd.json
dhd-frontend-angular-win32-x64/vk_swiftshader.dll
dhd-frontend-angular-win32-x64/vulkan-1.dll
dhd-frontend-angular-win32-x64/locales/af.pak
dhd-frontend-angular-win32-x64/locales/am.pak
dhd-frontend-angular-win32-x64/locales/ar.pak
dhd-frontend-angular-win32-x64/locales/bg.pak
dhd-frontend-angular-win32-x64/locales/bn.pak
dhd-frontend-angular-win32-x64/locales/ca.pak
dhd-frontend-angular-win32-x64/locales/cs.pak
dhd-frontend-angular-win32-x64/locales/da.pak
dhd-frontend-angular-win32-x64/locales/de.pak
dhd-frontend-angular-win32-x64/locales/el.pak
dhd-frontend-angular-win32-x64/locales/en-GB.pak
dhd-frontend-angular-win32-x64/locales/en-US.pak
dhd-frontend-angular-win32-x64/locales/es-419.pak
dhd-frontend-angular-win32-x64/locales/es.pak
dhd-frontend-angular-win32-x64/locales/et.pak
dhd-frontend-angular-win32-x64/locales/fa.pak
dhd-frontend-angular-win32-x64/locales/fi.pak
dhd-frontend-angular-win32-x64/locales/fil.pak
dhd-frontend-angular-win32-x64/locales/fr.pak
dhd-frontend-angular-win32-x64/locales/gu.pak
dhd-frontend-angular-win32-x64/locales/he.pak
dhd-frontend-angular-win32-x64/locales/hi.pak
dhd-frontend-angular-win32-x64/locales/hr.pak
dhd-frontend-angular-win32-x64/locales/hu.pak
dhd-frontend-angular-win32-x64/locales/id.pak
dhd-frontend-angular-win32-x64/locales/it.pak
dhd-frontend-angular-win32-x64/locales/ja.pak
dhd-frontend-angular-win32-x64/locales/kn.pak
dhd-frontend-angular-win32-x64/locales/ko.pak
dhd-frontend-angular-win32-x64/locales/lt.pak
dhd-frontend-angular-win32-x64/locales/lv.pak
dhd-frontend-angular-win32-x64/locales/ml.pak
dhd-frontend-angular-win32-x64/locales/mr.pak
dhd-frontend-angular-win32-x64/locales/ms.pak
dhd-frontend-angular-win32-x64/locales/nb.pak
dhd-frontend-angular-win32-x64/locales/nl.pak
dhd-frontend-angular-win32-x64/locales/pl.pak
dhd-frontend-angular-win32-x64/locales/pt-BR.pak
dhd-frontend-angular-win32-x64/locales/pt-PT.pak
dhd-frontend-angular-win32-x64/locales/ro.pak
dhd-frontend-angular-win32-x64/locales/ru.pak
dhd-frontend-angular-win32-x64/locales/sk.pak
dhd-frontend-angular-win32-x64/locales/sl.pak
dhd-frontend-angular-win32-x64/locales/sr.pak
dhd-frontend-angular-win32-x64/locales/sv.pak
dhd-frontend-angular-win32-x64/locales/sw.pak
dhd-frontend-angular-win32-x64/locales/ta.pak
dhd-frontend-angular-win32-x64/locales/te.pak
dhd-frontend-angular-win32-x64/locales/th.pak
dhd-frontend-angular-win32-x64/locales/tr.pak
dhd-frontend-angular-win32-x64/locales/uk.pak
dhd-frontend-angular-win32-x64/locales/ur.pak
dhd-frontend-angular-win32-x64/locales/vi.pak
dhd-frontend-angular-win32-x64/locales/zh-CN.pak
dhd-frontend-angular-win32-x64/locales/zh-TW.pak
dhd-frontend-angular-win32-x64/resources/app/.editorconfig
dhd-frontend-angular-win32-x64/resources/app/.gitignore
dhd-frontend-angular-win32-x64/resources/app/angular.json
dhd-frontend-angular-win32-x64/resources/app/dhd-backend-1.0.jar
dhd-frontend-angular-win32-x64/resources/app/main.js
dhd-frontend-angular-win32-x64/resources/app/package.json
dhd-frontend-angular-win32-x64/resources/app/README.md
dhd-frontend-angular-win32-x64/resources/app/tsconfig.app.json
dhd-frontend-angular-win32-x64/resources/app/tsconfig.json
dhd-frontend-angular-win32-x64/resources/app/tsconfig.spec.json
dhd-frontend-angular-win32-x64/resources/app/data/invoicehq.mv.db
dhd-frontend-angular-win32-x64/resources/app/src/favicon.ico
dhd-frontend-angular-win32-x64/resources/app/src/index.html
dhd-frontend-angular-win32-x64/resources/app/src/main.ts
dhd-frontend-angular-win32-x64/resources/app/src/styles.css
dhd-frontend-angular-win32-x64/resources/app/src/app/app-routing.module.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/app.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/app.component.scss
dhd-frontend-angular-win32-x64/resources/app/src/app/app.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/app.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/app.module.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/global-config.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_helpers/auth.interceptor.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Article.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/ArticleDocument.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Assujetti.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Client.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Document.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/FamilleArticle.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Fournisseur.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/modelTest.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Settings.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/TVA.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/Unite.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_models/User.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/article.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/article.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/auth.guard.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/auth.guard.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/auth.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/auth.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/client.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/client.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/data-sharing.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/data-sharing.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/document.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/document.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/fournisseur.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/fournisseur.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/param.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/param.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/parameter.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/parameter.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/token-storage.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/token-storage.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/user.service.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/_services/user.service.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/add-param/add-param.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/add-param/add-param.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/add-param/add-param.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/add-param/add-param.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/article/article.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/article/article.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/article/article.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/article-components/article/article.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/client/client.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/client/client.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/client/client.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/client-components/client/client.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/document/document.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/document/document.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/document/document.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/document-components/document/document.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/document-details/document-details.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/document-details/document-details.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/document-details/document-details.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/document-details/document-details.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/home/home.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/home/home.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/home/home.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/home/home.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/list-article/list-article.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/list-article/list-article.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/list-article/list-article.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/list-article/list-article.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/login/login.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/login/login.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/login/login.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/login/login.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/param/param.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/param/param.component.scss
dhd-frontend-angular-win32-x64/resources/app/src/app/param/param.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/param/param.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/sidenav/sidenav.component.css
dhd-frontend-angular-win32-x64/resources/app/src/app/sidenav/sidenav.component.html
dhd-frontend-angular-win32-x64/resources/app/src/app/sidenav/sidenav.component.spec.ts
dhd-frontend-angular-win32-x64/resources/app/src/app/sidenav/sidenav.component.ts
dhd-frontend-angular-win32-x64/resources/app/src/assets/.gitkeep
dhd-frontend-angular-win32-x64/resources/app/src/assets/img.png
dhd-frontend-angular-win32-x64/resources/app/src/assets/logo.png
data/invoicehq.mv.db
dhd-backend-1.0.jar
invoice-hq-1.0.jar
InvoiceHQ-win32-x64/chrome_100_percent.pak
InvoiceHQ-win32-x64/chrome_200_percent.pak
InvoiceHQ-win32-x64/d3dcompiler_47.dll
InvoiceHQ-win32-x64/ffmpeg.dll
InvoiceHQ-win32-x64/icudtl.dat
InvoiceHQ-win32-x64/InvoiceHQ.exe
InvoiceHQ-win32-x64/libEGL.dll
InvoiceHQ-win32-x64/libGLESv2.dll
InvoiceHQ-win32-x64/LICENSE
InvoiceHQ-win32-x64/LICENSES.chromium.html
InvoiceHQ-win32-x64/resources.pak
InvoiceHQ-win32-x64/snapshot_blob.bin
InvoiceHQ-win32-x64/v8_context_snapshot.bin
InvoiceHQ-win32-x64/version
InvoiceHQ-win32-x64/vk_swiftshader_icd.json
InvoiceHQ-win32-x64/vk_swiftshader.dll
InvoiceHQ-win32-x64/vulkan-1.dll
InvoiceHQ-win32-x64/data/invoicehq.mv.db
InvoiceHQ-win32-x64/locales/af.pak
InvoiceHQ-win32-x64/locales/am.pak
InvoiceHQ-win32-x64/locales/ar.pak
InvoiceHQ-win32-x64/locales/bg.pak
InvoiceHQ-win32-x64/locales/bn.pak
InvoiceHQ-win32-x64/locales/ca.pak
InvoiceHQ-win32-x64/locales/cs.pak
InvoiceHQ-win32-x64/locales/da.pak
InvoiceHQ-win32-x64/locales/de.pak
InvoiceHQ-win32-x64/locales/el.pak
InvoiceHQ-win32-x64/locales/en-GB.pak
InvoiceHQ-win32-x64/locales/en-US.pak
InvoiceHQ-win32-x64/locales/es-419.pak
InvoiceHQ-win32-x64/locales/es.pak
InvoiceHQ-win32-x64/locales/et.pak
InvoiceHQ-win32-x64/locales/fa.pak
InvoiceHQ-win32-x64/locales/fi.pak
InvoiceHQ-win32-x64/locales/fil.pak
InvoiceHQ-win32-x64/locales/fr.pak
InvoiceHQ-win32-x64/locales/gu.pak
InvoiceHQ-win32-x64/locales/he.pak
InvoiceHQ-win32-x64/locales/hi.pak
InvoiceHQ-win32-x64/locales/hr.pak
InvoiceHQ-win32-x64/locales/hu.pak
InvoiceHQ-win32-x64/locales/id.pak
InvoiceHQ-win32-x64/locales/it.pak
InvoiceHQ-win32-x64/locales/ja.pak
InvoiceHQ-win32-x64/locales/kn.pak
InvoiceHQ-win32-x64/locales/ko.pak
InvoiceHQ-win32-x64/locales/lt.pak
InvoiceHQ-win32-x64/locales/lv.pak
InvoiceHQ-win32-x64/locales/ml.pak
InvoiceHQ-win32-x64/locales/mr.pak
InvoiceHQ-win32-x64/locales/ms.pak
InvoiceHQ-win32-x64/locales/nb.pak
InvoiceHQ-win32-x64/locales/nl.pak
InvoiceHQ-win32-x64/locales/pl.pak
InvoiceHQ-win32-x64/locales/pt-BR.pak
InvoiceHQ-win32-x64/locales/pt-PT.pak
InvoiceHQ-win32-x64/locales/ro.pak
InvoiceHQ-win32-x64/locales/ru.pak
InvoiceHQ-win32-x64/locales/sk.pak
InvoiceHQ-win32-x64/locales/sl.pak
InvoiceHQ-win32-x64/locales/sr.pak
InvoiceHQ-win32-x64/locales/sv.pak
InvoiceHQ-win32-x64/locales/sw.pak
InvoiceHQ-win32-x64/locales/ta.pak
InvoiceHQ-win32-x64/locales/te.pak
InvoiceHQ-win32-x64/locales/th.pak
InvoiceHQ-win32-x64/locales/tr.pak
InvoiceHQ-win32-x64/locales/uk.pak
InvoiceHQ-win32-x64/locales/ur.pak
InvoiceHQ-win32-x64/locales/vi.pak
InvoiceHQ-win32-x64/locales/zh-CN.pak
InvoiceHQ-win32-x64/locales/zh-TW.pak
InvoiceHQ-win32-x64/resources/app/.editorconfig
InvoiceHQ-win32-x64/resources/app/.gitignore
InvoiceHQ-win32-x64/resources/app/angular.json
InvoiceHQ-win32-x64/resources/app/main.js
InvoiceHQ-win32-x64/resources/app/package.json
InvoiceHQ-win32-x64/resources/app/README.md
InvoiceHQ-win32-x64/resources/app/tsconfig.app.json
InvoiceHQ-win32-x64/resources/app/tsconfig.json
InvoiceHQ-win32-x64/resources/app/tsconfig.spec.json
InvoiceHQ-win32-x64/resources/app/src/favicon.ico
InvoiceHQ-win32-x64/resources/app/src/index.html
InvoiceHQ-win32-x64/resources/app/src/main.ts
InvoiceHQ-win32-x64/resources/app/src/styles.css
InvoiceHQ-win32-x64/resources/app/src/app/app-routing.module.ts
InvoiceHQ-win32-x64/resources/app/src/app/app.component.html
InvoiceHQ-win32-x64/resources/app/src/app/app.component.scss
InvoiceHQ-win32-x64/resources/app/src/app/app.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/app.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/app.module.ts
InvoiceHQ-win32-x64/resources/app/src/app/global-config.ts
InvoiceHQ-win32-x64/resources/app/src/app/_helpers/auth.interceptor.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Article.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/ArticleDocument.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Assujetti.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Client.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Document.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/FamilleArticle.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Fournisseur.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/modelTest.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Settings.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/TVA.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/Unite.ts
InvoiceHQ-win32-x64/resources/app/src/app/_models/User.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/article.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/article.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/auth.guard.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/auth.guard.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/auth.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/auth.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/client.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/client.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/data-sharing.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/data-sharing.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/document.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/document.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/fournisseur.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/fournisseur.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/param.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/param.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/parameter.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/parameter.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/token-storage.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/token-storage.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/user.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/user.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.css
InvoiceHQ-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.html
InvoiceHQ-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/add-article-document/add-article-document.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/add-param/add-param.component.css
InvoiceHQ-win32-x64/resources/app/src/app/add-param/add-param.component.html
InvoiceHQ-win32-x64/resources/app/src/app/add-param/add-param.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/add-param/add-param.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.css
InvoiceHQ-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.html
InvoiceHQ-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/article-components/add-article/add-article.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/article-components/article/article.component.css
InvoiceHQ-win32-x64/resources/app/src/app/article-components/article/article.component.html
InvoiceHQ-win32-x64/resources/app/src/app/article-components/article/article.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/article-components/article/article.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.css
InvoiceHQ-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.html
InvoiceHQ-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/client-components/add-client/add-client.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/client-components/client/client.component.css
InvoiceHQ-win32-x64/resources/app/src/app/client-components/client/client.component.html
InvoiceHQ-win32-x64/resources/app/src/app/client-components/client/client.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/client-components/client/client.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.css
InvoiceHQ-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.html
InvoiceHQ-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/confirm-modal/confirm-modal.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.css
InvoiceHQ-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.html
InvoiceHQ-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/document-components/add-document/add-document.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/document-components/document/document.component.css
InvoiceHQ-win32-x64/resources/app/src/app/document-components/document/document.component.html
InvoiceHQ-win32-x64/resources/app/src/app/document-components/document/document.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/document-components/document/document.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/document-details/document-details.component.css
InvoiceHQ-win32-x64/resources/app/src/app/document-details/document-details.component.html
InvoiceHQ-win32-x64/resources/app/src/app/document-details/document-details.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/document-details/document-details.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.css
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.html
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/add-fournisseur/add-fournisseur.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.css
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.html
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/fournisseur-components/fournisseur/fournisseur.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/home/home.component.css
InvoiceHQ-win32-x64/resources/app/src/app/home/home.component.html
InvoiceHQ-win32-x64/resources/app/src/app/home/home.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/home/home.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/list-article/list-article.component.css
InvoiceHQ-win32-x64/resources/app/src/app/list-article/list-article.component.html
InvoiceHQ-win32-x64/resources/app/src/app/list-article/list-article.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/list-article/list-article.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/login/login.component.css
InvoiceHQ-win32-x64/resources/app/src/app/login/login.component.html
InvoiceHQ-win32-x64/resources/app/src/app/login/login.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/login/login.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/param/param.component.html
InvoiceHQ-win32-x64/resources/app/src/app/param/param.component.scss
InvoiceHQ-win32-x64/resources/app/src/app/param/param.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/param/param.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.css
InvoiceHQ-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.html
InvoiceHQ-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/parameter-dialog/parameter-dialog.component.ts
InvoiceHQ-win32-x64/resources/app/src/app/sidenav/sidenav.component.css
InvoiceHQ-win32-x64/resources/app/src/app/sidenav/sidenav.component.html
InvoiceHQ-win32-x64/resources/app/src/app/sidenav/sidenav.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/sidenav/sidenav.component.ts
InvoiceHQ-win32-x64/resources/app/src/assets/.gitkeep
InvoiceHQ-win32-x64/resources/app/src/assets/img.png
InvoiceHQ-win32-x64/resources/app/src/assets/logo.png
data/invoicehq.trace.db
InvoiceHQ-win32-x64/data/invoicehq.trace.db
InvoiceHQ-win32-x64/resources/app/data/invoicehq.trace.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
InvoiceHQ-win32-x64/resources/app/firebase-config.json
InvoiceHQ-win32-x64/resources/app/firebase.json
InvoiceHQ-win32-x64/resources/app/src/app/_models/FileUpload.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/generate-pdf.service.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/_services/generate-pdf.service.ts
InvoiceHQ-win32-x64/resources/app/src/app/admin-panel/admin-panel.component.css
InvoiceHQ-win32-x64/resources/app/src/app/admin-panel/admin-panel.component.html
InvoiceHQ-win32-x64/resources/app/src/app/admin-panel/admin-panel.component.spec.ts
InvoiceHQ-win32-x64/resources/app/src/app/admin-panel/admin-panel.component.ts
InvoiceHQ-win32-x64/resources/app/src/environments/environment.ts
