<div class="container-fluid">
	<h1>Articles</h1>
	<div class="row">
		<div class="col-md-9">
			<div class="mat-elevation-z8">
				<table mat-table [dataSource]="articles">

					<ng-container matColumnDef="ID">
						<th mat-header-cell *matHeaderCellDef> ID</th>
						<td mat-cell *matCellDef="let article"> {{article.id}} </td>
					</ng-container>

					<ng-container matColumnDef="designation">
						<th mat-header-cell *matHeaderCellDef> Designation</th>
						<td mat-cell *matCellDef="let article"><p style="max-width: 200px"> {{article.designation}}</p>
						</td>
					</ng-container>

					<ng-container matColumnDef="stock">
						<th mat-header-cell *matHeaderCellDef> Stock Initial</th>
						<td mat-cell *matCellDef="let article"> {{article.stock_initial}} </td>
					</ng-container>

					<ng-container matColumnDef="unite">
						<th mat-header-cell *matHeaderCellDef> Unité</th>
						<td mat-cell
							*matCellDef="let article"> {{article.unite != null ? article.unite.unite : "--"}} </td>
					</ng-container>

					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Date Stock Initial</th>
						<td mat-cell *matCellDef="let document"> {{document.date_stock_initial != null? document.date_stock_initial : "--"}} </td>
					</ng-container>

					<ng-container matColumnDef="PAHT">
						<th mat-header-cell *matHeaderCellDef> PAHT</th>
						<td mat-cell *matCellDef="let article"> {{article.paht}} </td>
					</ng-container>

					<ng-container matColumnDef="PVHT">
						<th mat-header-cell *matHeaderCellDef> PVHT</th>
						<td mat-cell *matCellDef="let article"> {{article.pvht}} </td>
					</ng-container>

					<ng-container matColumnDef="famille">
						<th mat-header-cell *matHeaderCellDef> Famille d'article</th>
						<td mat-cell
							*matCellDef="let article"> {{article.famille_article != null ? article.famille_article.famille : "--"}} </td>
					</ng-container>


					<ng-container matColumnDef="fournisseur">
						<th mat-header-cell *matHeaderCellDef> Fournisseur</th>
						<td mat-cell
							*matCellDef="let article"> {{article.fournisseur != null ? article.fournisseur.raison_social : "--"}} </td>
					</ng-container>


					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let article">
							<button (click)="delete(article.id, article.designation)" color="warn" mat-mini-fab>
								<mat-icon>delete</mat-icon>
							</button>
							<button color="primary" mat-mini-fab>
								<mat-icon>edit</mat-icon>
							</button>
						</td>
					</ng-container>


					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

				</table>

				<mat-paginator [pageSizeOptions]="[5, 10, 20]"
							   showFirstLastButtons>
				</mat-paginator>
			</div>

		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<div class="row">
				<button mat-raised-button color="primary" (click)="AddDialog()">Ajouter</button>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>





