<h2 mat-dialog-title>
	Ajouter un article
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="content">

	<button style="margin-right: 20px; margin-bottom: 20px;" (click)="openArticle()" mat-raised-button color="primary">
		Choisir un article
	</button>
	<button (click)="openAddArticle()" style="margin-right: 20px; margin-bottom: 20px;" mat-raised-button
			color="primary">
		Ajouter un article
	</button>

	<div class="row">
		<mat-form-field>
			<mat-label>Designation</mat-label>
			<textarea matInput disabled [(ngModel)]="article.article.designation" placeholder="Designation"
					  type="text"></textarea>
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Quantité</mat-label>
			<input matInput [(ngModel)]="article.quantite" placeholder="0.00" type="text">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Unité</mat-label>
			<input matInput disabled [(ngModel)]="article.article.unite.unite" placeholder="0.00" type="text">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Code TVA</mat-label>
			<input matInput disabled [(ngModel)]="article.article.tva.base" placeholder="0.00" type="text">
		</mat-form-field>
	</div>


	<div class="row">
		<mat-form-field>
			<mat-label>PUHT</mat-label>
			<input matInput [(ngModel)]="article.puht" placeholder="0.00" type="text">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>PUTTC</mat-label>
			<input matInput [(ngModel)]="article.puttc" placeholder="0.00" type="text">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>PU réel</mat-label>
			<input matInput [(ngModel)]="article.pu_reel" placeholder="0.00" type="text">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Montant HT</mat-label>
			<input matInput [(ngModel)]="article.montant_ht" placeholder="0.00" type="text">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Remise</mat-label>
			<input matInput [(ngModel)]="article.remise" placeholder="0.00" type="text">
		</mat-form-field>
	</div>

</mat-dialog-content>


<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Annuler</button>
	<button mat-raised-button [mat-dialog-close]="article" color="primary" (click)="add(article)" type="submit">
		Ajouter
	</button>
</mat-dialog-actions>
