<h2 mat-dialog-title>
	Ajouter un article
</h2>
<mat-divider></mat-divider>
<mat-dialog-content *ngIf="article.article" class="content">

	<button style="margin-right: 20px; margin-bottom: 20px;" (click)="openArticle()" mat-raised-button color="primary">
		Choisir un article
	</button>
	<button (click)="openAddArticle()" style="margin-right: 20px; margin-bottom: 20px;" mat-raised-button
			color="primary">
		Ajouter un article
	</button>
	<div class="row">
		<div class="col">
			<mat-form-field>
				<mat-label>Designation</mat-label>
				<input matInput disabled [(ngModel)]="article.article.designation" placeholder="Designation"
						type="text">
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>Quantité</mat-label>
				<input (keypress)="numberOnly($event)" matInput [(ngModel)]="article.quantite" placeholder="0.00" type="text">
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>Unité</mat-label>
				<input matInput disabled [value]="article.article.unite != null ? article.article.unite.unite : '--'" placeholder="0.00" type="text">
			</mat-form-field>
		</div>


		<div class="col">
			<mat-form-field>
				<mat-label>PUHT</mat-label>
				<input (keypress)="numberOnly($event)" matInput [(ngModel)]="article.puht" placeholder="0.00" type="text">
			</mat-form-field>
		</div>

		<div class="col">
			<mat-form-field>
				<mat-label>Remise</mat-label>
				<input (keypress)="numberOnly($event)" matInput [(ngModel)]="article.remise" placeholder="0.00" type="text">
				<span matTextSuffix>%</span>
			</mat-form-field>
		</div>
	</div>



</mat-dialog-content>


<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Annuler</button>
	<button mat-raised-button [mat-dialog-close]="article" color="primary" (click)="add(article)" type="submit" [disabled]="article.puht == undefined || article.quantite == undefined || article.article.designation == ''">
		Ajouter
	</button>
</mat-dialog-actions>
