<h2 mat-dialog-title>
  Ajouter un article
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="content">
  <form [formGroup]="articleForm">
    <div class="row">
      <mat-form-field>
        <mat-label>Designation</mat-label>
        <textarea matInput formControlName="designation" placeholder="Designation" type="text"></textarea>
        <mat-error
          *ngIf="designation.invalid && (designation.dirty || designation.touched) && designation.errors?.['required']">
          ce champ est obligatoire
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Stock Initial</mat-label>
        <input matInput formControlName="stock" placeholder="0.00" type="text">
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <mat-form-field>
          <mat-label>Unité</mat-label>
          <mat-select formControlName="unite" [(ngModel)]="this.selectedUnite">
            <ng-container *ngFor="let unite of unites">
              <mat-option>{{unite.unite}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <button (click)="openAddUnite()" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Date Stock Initial</mat-label>
        <input matInput formControlName="date" type="datetime-local">
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-sm-10">
      <mat-form-field>
        <mat-label>Famille d'article</mat-label>
        <mat-select formControlName="famille" [(ngModel)]="this.selectedFamille">
          <ng-container *ngFor="let famille of familles">
            <mat-option>{{famille.famille}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="col-sm-2">
        <button (click)="openAddUnite()" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
      <mat-form-field>
        <mat-label>Fournisseur</mat-label>
        <mat-select formControlName="fournisseur" [(ngModel)]="this.selectedFournisseur">
          <ng-container *ngFor="let fournisseur of fournisseurs">
            <mat-option>{{fournisseur.raisonSocial}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="col-sm-2">
        <button (click)="openAddFournisseur()" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
      <mat-form-field>
        <mat-label>Code TVA</mat-label>
        <mat-select formControlName="tva" [(ngModel)]="this.selectedTVA">
          <ng-container *ngFor="let tva of tvas">
            <mat-option [value]="tva.toString()">{{tva.base}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      </div>
      <div class="col-sm-2">
        <button (click)="openAddTVA()" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>


    <div class="row">
      <mat-form-field>
        <mat-label>PVHT</mat-label>
        <input matInput formControlName="pvht" placeholder="0.00" type="text">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>PAHT</mat-label>
        <input matInput formControlName="paht" placeholder="0.00" type="text">
      </mat-form-field>
    </div>


  </form>


</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="false">Annuler</button>
  <button mat-raised-button color="primary" (click)="add(articleForm)" [disabled]="articleForm.invalid" type="submit">
    Ajouter
  </button>
</mat-dialog-actions>
