<h2 mat-dialog-title>
  Ajouter un client
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="content">
  <form [formGroup]="articleForm">
    <div class="row">
      <mat-form-field>
        <mat-label>Designation</mat-label>
        <input matInput formControlName="designation" placeholder="Designation" type="text">
        <mat-error
          *ngIf="designation.invalid && (designation.dirty || designation.touched) && designation.errors?.['required']">
          ce champ est obligatoire
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Stock Initial</mat-label>
        <input matInput formControlName="stock" placeholder="0.00" type="text">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Unité</mat-label>
        <mat-select [(ngModel)]="this.selectedUnite">
          <ng-container *ngFor="let unite of unites">
            <mat-option [value]="unite.toString()">{{unite.unite}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Date Stock Initial</mat-label>
        <input matInput formControlName="date"  type="date">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="pvht" placeholder="Mobile" type="text">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Fax</mat-label>
        <input matInput formControlName="paht" placeholder="Fax" type="text">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="adresse" placeholder="Adresse" type="text">
      </mat-form-field>
    </div>

  </form>

  <div class="row">
    <mat-form-field>
      <mat-label>Code TVA</mat-label>
      <mat-select [(ngModel)]="this.selectedTVA">
        <ng-container *ngFor="let tva of tvas">
          <mat-option [value]="tva.toString()">{{tva.base}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="false">Annuler</button>
  <button mat-raised-button color="primary" (click)="add(articleForm)" [disabled]="articleForm.invalid" type="submit">
    Ajouter
  </button>
</mat-dialog-actions>
