<div class="container-fluid">

	<h1 class="mat-typography">Clients</h1>
	<div class="row">
		<div class="col-md-11">
			<div class="mat-elevation-z8">
				<table mat-table [dataSource]="clients">

					<ng-container matColumnDef="raison">
						<th mat-header-cell *matHeaderCellDef> Raison Social</th>
						<td mat-cell *matCellDef="let client"> {{client.raison_social}} </td>
					</ng-container>

					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef> Email</th>
						<td mat-cell *matCellDef="let client"> {{client.email}} </td>
					</ng-container>

					<ng-container matColumnDef="adresse">
						<th mat-header-cell *matHeaderCellDef> Adresse</th>
						<td mat-cell *matCellDef="let client"> {{client.adresse}} </td>
					</ng-container>

					<ng-container matColumnDef="assujetti">
						<th mat-header-cell *matHeaderCellDef> Assujetti</th>
						<td mat-cell *matCellDef="let client"> {{client.assujetti != undefined ? client.assujetti.type + ' ' + client.assujetti.coefficient_tva + '%' : '--'}} </td>
					</ng-container>

					<ng-container matColumnDef="fax">
						<th mat-header-cell *matHeaderCellDef> Fax</th>
						<td mat-cell *matCellDef="let client"> {{client.fax}} </td>
					</ng-container>

					<ng-container matColumnDef="telephone">
						<th mat-header-cell *matHeaderCellDef> Telephone</th>
						<td mat-cell *matCellDef="let client"> {{client.telephone}} </td>
					</ng-container>

					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let client">
							<button (click)="delete(client.id,client.raison_social)" color="warn" mat-mini-fab>
								<mat-icon>delete</mat-icon>
							</button>
							<button color="primary" mat-mini-fab>
								<mat-icon>edit</mat-icon>
							</button>
						</td>
					</ng-container>


					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]"
							   showFirstLastButtons
							   aria-label="Select page of periodic elements">
				</mat-paginator>

			</div>

		</div>
		<div class="col-md-1">
			<div class="row">
				<button mat-raised-button color="primary" (click)="AddDialog()">Ajouter</button>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>




