<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <button class="button-menu" mat-raised-button color="primary" [matMenuTriggerFor]="DocumentsAchat">Achat</button>
        </li>
        <li class="nav-item active">
          <button class="button-menu" mat-raised-button color="primary" [matMenuTriggerFor]="DocumentsVente">Vente</button>
        </li>
        <li class="nav-item">
          <button class="button-menu" routerLink="/client" mat-raised-button color="primary">Clients</button>
        </li>
        <li class="nav-item">
          <button class="button-menu" routerLink="/fournisseur"  mat-raised-button color="primary">Fournisseurs</button>
        </li>
        <li class="nav-item">
          <button class="button-menu" routerLink="/param"  mat-raised-button color="primary">Parameteres</button>
        </li>
      </ul>
    </div>
  </nav>
    <mat-menu #DocumentsAchat="matMenu">
      <button mat-menu-item (click)="openMenu('devis','achat')">Devis</button>
      <button mat-menu-item (click)="openMenu('facture','achat')">Factures</button>
      <button mat-menu-item (click)="openMenu('commande','achat')">Commandes</button>
      <button mat-menu-item (click)="openMenu('bl','achat')">BL</button>
      <button mat-menu-item (click)="openMenu('bl_facture','achat')">BL Facturé</button>
    </mat-menu>
  <mat-menu #DocumentsVente="matMenu">
    <button mat-menu-item (click)="openMenu('devis','vente')">Devis</button>
    <button mat-menu-item (click)="openMenu('facture','vente')">Factures</button>
    <button mat-menu-item (click)="openMenu('commande','vente')">Commandes</button>
    <button mat-menu-item (click)="openMenu('bl','vente')">BL</button>
    <button mat-menu-item (click)="openMenu('bl_facture','vente')">BL Facturé</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>
