<!--<mat-drawer-container>-->
<!--	<mat-drawer mode="side" [opened]="sideBarOpen">-->
<!--		<app-sidenav></app-sidenav>-->
<!--	</mat-drawer>-->
<!--	<mat-drawer-content>-->
<!--		<app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>-->
<!--		<router-outlet></router-outlet>-->
<!--	</mat-drawer-content>-->
<!--</mat-drawer-container>-->


<!--	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--		<a class="navbar-brand" href="#"><img src="favicon.ico" alt=""></a>-->
<!--		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
<!--				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--			<span class="navbar-toggler-icon"></span>-->
<!--		</button>-->
<!--		<button mat-icon-button (click)="toggleSidebar()">-->
<!--			<mat-icon>menu</mat-icon>-->
<!--		</button>-->
<!--		<div class="collapse navbar-collapse" id="navbarNav">-->
<!--			<ul class="navbar-nav">-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" (click)="openMenu('achat')">Achat</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" (click)="openMenu('vente')">Vente</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" routerLink="/client">Clients</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" routerLink="/fournisseur">Fournisseurs</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" routerLink="/article">Articles</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" routerLink="/param">Parametrages</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<button class="button-menu" routerLink="/add-document" mat-raised-button color="warn">Ajouter un-->
<!--						document-->
<!--					</button>-->
<!--				</li>-->

<!--			</ul>-->

<!--		</div>-->
<!--		<div class="d-flex input-group w-auto">-->
<!--			<button mat-mini-fab color="primary" (click)="openParam()">-->
<!--				<mat-icon>settings</mat-icon>-->
<!--			</button>-->
<!--		</div>-->
<!--		<div class="d-flex input-group w-auto">-->
<!--			<button mat-mini-fab color="primary">-->
<!--				<mat-icon>person</mat-icon>-->
<!--			</button>-->
<!--		</div>-->
<!--	</nav>-->


<mat-toolbar *ngIf="showNavbar" color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="sideBarOpen=!sideBarOpen">
			<mat-icon>menu</mat-icon>
		</button>
		<span class="spacer"></span>
		<button mat-icon-button [matMenuTriggerFor]="profil">
			<mat-icon>person</mat-icon>
		</button>
	</mat-toolbar-row>

</mat-toolbar>

<mat-menu #profil>
	<button (click)="logout()" mat-menu-item>
		<mat-icon>exit_to_app</mat-icon>
		Deconnexion
	</button>
</mat-menu>


<mat-sidenav-container>
	<mat-sidenav *ngIf="showNavbar" [(opened)]="sideBarOpen" mode="side">
		<!--		<img src="./assets/img.png" alt="logo here" width="250">-->
		<!--		<mat-divider style="border: 2px solid #6600d3"></mat-divider>-->
		<mat-list>
			<button matRipple [ngClass]="active_vente" (click)="openMenu('vente')" class="menu-button">
				<mat-icon>assignment</mat-icon>
				<span>Vente</span></button>
			<button [ngClass]="active_achat" (click)="openMenu('achat')" class="menu-button">
				<mat-icon>assignment</mat-icon>
				<span>Achat</span></button>

			<button matRipple routerLinkActive="active-link"
					(click)="this.active_vente = 'menu-button';this.active_achat = 'menu-button';" routerLink="/client"
					class="menu-button">
				<mat-icon>people</mat-icon>
				<span>Clients</span></button>
			<button matRipple routerLinkActive="active-link"
					(click)="this.active_vente = 'menu-button';this.active_achat = 'menu-button';"
					routerLink="/fournisseur" class="menu-button">
				<mat-icon>people</mat-icon>
				<span>Fournisseurs</span></button>
			<button matRipple routerLinkActive="active-link"
					(click)="this.active_vente = 'menu-button';this.active_achat = 'menu-button';" routerLink="/article"
					class="menu-button">
				<mat-icon>shopping_cart</mat-icon>
				<span>Articles</span></button>
			<button matRipple routerLinkActive="active-link"
					(click)="this.active_vente = 'menu-button';this.active_achat = 'menu-button';" routerLink="/param"
					class="menu-button">
				<mat-icon>settings_applications</mat-icon>
				<span>Parametrages</span></button>
			<button matRipple routerLinkActive="active-link"
					(click)="this.active_vente = 'menu-button';this.active_achat = 'menu-button';"
					routerLink="/add-document" class="menu-button">
				<mat-icon>note_add</mat-icon>
				<span>Creer un document</span></button>
			<button [disabled]="showAdminButton" matRipple routerLinkActive="active-link"
					(click)="this.active_vente = 'menu-button';this.active_achat = 'menu-button';"
					routerLink="/admin-panel" class="menu-button">
				<mat-icon>note_add</mat-icon>
				<span>Admin Panel</span></button>
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
