<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <button class="button-menu" mat-raised-button color="primary" [matMenuTriggerFor]="Documents">Documents</button>
        </li>
        <li class="nav-item">
          <button class="button-menu" routerLink="/client" mat-raised-button color="primary">Clients</button>
        </li>
        <li class="nav-item">
          <button class="button-menu" routerLink="/fournisseur"  mat-raised-button color="primary">Fournisseurs</button>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
    <mat-menu #Documents="matMenu">
      <button mat-menu-item>Factures</button>
      <button mat-menu-item>Commandes</button>
      <button mat-menu-item>BL</button>
      <button mat-menu-item>BL Facturé</button>
    </mat-menu>
  <router-outlet></router-outlet>
</div>
