<div class="container-fluid">
	<h1>Fournisseurs</h1>
	<div class="row">
		<div class="col-md-9">
			<div class="mat-elevation-z8">
				<table mat-table [dataSource]="fournisseurs">

					<ng-container matColumnDef="ID">
						<th mat-header-cell *matHeaderCellDef> ID</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.id}} </td>
					</ng-container>

					<ng-container matColumnDef="raison">
						<th mat-header-cell *matHeaderCellDef> Raison Social</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.raison_social}} </td>
					</ng-container>

					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef> Email</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.email}} </td>
					</ng-container>

					<ng-container matColumnDef="adresse">
						<th mat-header-cell *matHeaderCellDef> Adresse</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.adresse}} </td>
					</ng-container>


					<ng-container matColumnDef="fax">
						<th mat-header-cell *matHeaderCellDef> Fax</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.fax}} </td>
					</ng-container>

					<ng-container matColumnDef="telephone">
						<th mat-header-cell *matHeaderCellDef> Telephone</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.telephone}} </td>
					</ng-container>

					<ng-container matColumnDef="mobile">
						<th mat-header-cell *matHeaderCellDef> Mobile</th>
						<td mat-cell *matCellDef="let fournisseur"> {{fournisseur.mobile}} </td>
					</ng-container>

					<ng-container matColumnDef="fodec">
						<th mat-header-cell *matHeaderCellDef> Fodec</th>
						<td mat-cell *matCellDef="let fournisseur">
							<ng-container *ngIf="fournisseur.fodec">Oui</ng-container>
							<ng-container *ngIf="!fournisseur.fodec">Non</ng-container>
						</td>
					</ng-container>

					<ng-container matColumnDef="HT/TTC">
						<th mat-header-cell *matHeaderCellDef> HT/TTC</th>
						<td mat-cell *matCellDef="let fournisseur">
							{{fournisseur.ht_ttc}}
						</td>
					</ng-container>


					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let client">
							<button (click)="delete(client.id,client.raison_social)" color="warn" mat-mini-fab>
								<mat-icon>delete</mat-icon>
							</button>
							<button color="primary" mat-mini-fab>
								<mat-icon>edit</mat-icon>
							</button>
						</td>
					</ng-container>


					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

				</table>

				<mat-paginator [pageSizeOptions]="[5, 10, 20]"
							   showFirstLastButtons
							   aria-label="Select page of periodic elements">
				</mat-paginator>
			</div>

		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<div class="row">
				<button mat-raised-button color="primary" (click)="AddDialog()">Ajouter</button>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>





