<div class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<h1>{{transShow |titlecase }}</h1>
			<mat-form-field>
				<mat-label>Filter</mat-label>
				<input matInput (keyup)="applyFilter($event)" #input>
			</mat-form-field>
			<mat-form-field style="margin-right: 10px">
				<mat-label>Type document</mat-label>
				<mat-select (selectionChange)="applyTypeFilter()" [(value)]="type">
					<mat-option value="tous">Tous</mat-option>
					<mat-option value="devis">Devis</mat-option>
					<mat-option value="commande">Commande</mat-option>
					<mat-option value="bl">BL</mat-option>
					<mat-option value="bl_facture">BL Facturé</mat-option>
					<mat-option value="facture">Facture</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="mat-elevation-z8">

				<table mat-table [dataSource]="documents" matSort>

					<ng-container matColumnDef="ID">
						<th mat-header-cell *matHeaderCellDef> ID</th>
						<td mat-cell *matCellDef="let document"> {{document.id}} </td>
					</ng-container>

					<ng-container *ngIf="trans == 'vente'">
						<ng-container matColumnDef="client">
							<th mat-header-cell *matHeaderCellDef> Client</th>
							<td mat-cell *matCellDef="let document"> {{document.client.raison_social}} </td>
						</ng-container>
					</ng-container>

					<ng-container *ngIf="trans == 'achat'">
						<ng-container matColumnDef="fournisseur">
							<th mat-header-cell *matHeaderCellDef> Fournisseur</th>
							<td mat-cell *matCellDef="let document"> {{document.fournisseur.raison_social}} </td>
						</ng-container>
					</ng-container>

					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
						<td mat-cell *matCellDef="let document"> {{document.date}} </td>
					</ng-container>

					<ng-container matColumnDef="montant">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Montant HT</th>
						<td mat-cell *matCellDef="let document"> {{document.montant_ht}} </td>
					</ng-container>

					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let document">
							<button (click)="delete(document.id,document.reference)" color="warn" mat-mini-fab>
								<mat-icon>delete</mat-icon>
							</button>
							<button color="primary" mat-mini-fab>
								<mat-icon>edit</mat-icon>
							</button>
							<button (click)="openPDF(document.id)" color="primary" mat-mini-fab>
								<mat-icon>print</mat-icon>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"
						[ngClass]="{'highlight': selectedRowIndex == row.id}"
						(click)="selectedRowIndex = row.id"></tr>

					<tr class="mat-row" *matNoDataRow>
						<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
					</tr>
				</table>

				<mat-paginator [pageSizeOptions]="[5, 10, 20]"
							   showFirstLastButtons
							   aria-label="Select page of periodic elements">
				</mat-paginator>
			</div>

		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<div class="row">
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>





