.param-container {
	height: 30vh;
	width: 50%;
	margin: 30px;
}

.main-container {
	height: 90vh;
	width: 100vw;
	padding: 2%;
	background-color: #2a2828;
}

.row {
	padding-bottom: 5%;
}

table {
	width: 100%;
}

.table-container {
	height: 27vh;
	max-width: 100%;
	overflow: auto;
}


mat-sidenav-container {
	height: 85vh;


}

mat-sidenav {
	width: 200px;
	background: rgb(103, 58, 183);
}

mat-list {
	color: white;
}
