<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<div class="param-container">
				<div class="row">
					<div class="col-md-11">
						<div class="table-container mat-elevation-z8">
							<table mat-table [dataSource]="assujettis" class="mat-elevation-z8">

								<ng-container matColumnDef="type">
									<th mat-header-cell *matHeaderCellDef> Type</th>
									<td mat-cell *matCellDef="let assujetti"> {{assujetti.type}} </td>
								</ng-container>

								<ng-container matColumnDef="coef">
									<th mat-header-cell *matHeaderCellDef> Coefficient TVA</th>
									<td mat-cell *matCellDef="let assujetti"> {{assujetti.coefficient_tva}} %</td>
								</ng-container>

								<ng-container matColumnDef="action">
									<th mat-header-cell *matHeaderCellDef></th>
									<td mat-cell *matCellDef="let assujetti">
										<button color="warn" (click)="deleteAssujetti(assujetti.id, assujetti.type)"
												mat-mini-fab>
											<mat-icon>delete</mat-icon>
										</button>
									</td>
								</ng-container>


								<tr mat-header-row *matHeaderRowDef="assujettiColumns; sticky : true"></tr>
								<tr mat-row *matRowDef="let row; columns: assujettiColumns;"></tr>


							</table>
						</div>
					</div>
					<div class="col-md-1">
						<button (click)="addDialog('assujetti')" mat-fab color="primary">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="param-container">
				<div class="row">
					<div class="col-md-11">
						<div class="table-container mat-elevation-z8">
							<table mat-table [dataSource]="tvas" class="mat-elevation-z8">

								<ng-container matColumnDef="ID">
									<th mat-header-cell *matHeaderCellDef> ID</th>
									<td mat-cell *matCellDef="let tva"> {{tva.id}} </td>
								</ng-container>

								<ng-container matColumnDef="base">
									<th mat-header-cell *matHeaderCellDef> Base TVA</th>
									<td mat-cell *matCellDef="let tva"> {{tva.base}} </td>
								</ng-container>

								<ng-container matColumnDef="action">
									<th mat-header-cell *matHeaderCellDef></th>
									<td mat-cell *matCellDef="let tva">
										<button color="warn" (click)="deleteTVA(tva.id,tva.base)" mat-mini-fab>
											<mat-icon>delete</mat-icon>
										</button>
									</td>
								</ng-container>


								<tr mat-header-row *matHeaderRowDef="TVAColumns ; sticky : true"></tr>
								<tr mat-row *matRowDef="let row; columns: TVAColumns;"></tr>

							</table>
						</div>
					</div>
					<div class="col-md-1">
						<button (click)="addDialog('tva')" mat-fab color="primary">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="param-container">
				<div class="row">
					<div class="col-md-11">
						<div class="table-container mat-elevation-z8">

							<table mat-table [dataSource]="unites">

								<ng-container matColumnDef="ID">
									<th mat-header-cell *matHeaderCellDef> ID</th>
									<td mat-cell *matCellDef="let unite"> {{unite.id}} </td>
								</ng-container>

								<ng-container matColumnDef="unite">
									<th mat-header-cell *matHeaderCellDef> Unite</th>
									<td mat-cell *matCellDef="let unite"> {{unite.unite}} </td>
								</ng-container>

								<ng-container matColumnDef="action">
									<th mat-header-cell *matHeaderCellDef></th>
									<td mat-cell *matCellDef="let unite">
										<button color="warn" (click)="deleteUnite(unite.id,unite.unite)" mat-mini-fab>
											<mat-icon>delete</mat-icon>
										</button>
									</td>
								</ng-container>


								<tr mat-header-row *matHeaderRowDef="uniteColumns; sticky : true"></tr>
								<tr mat-row *matRowDef="let row; columns: uniteColumns;"></tr>

							</table>
						</div>
					</div>
					<div class="col-md-1">
						<button (click)="addDialog('unite')" mat-fab color="primary">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="param-container">
				<div class="row">
					<div class="col-md-11">
						<div class="table-container mat-elevation-z8">

							<table mat-table [dataSource]="familles">

								<ng-container matColumnDef="ID">
									<th mat-header-cell *matHeaderCellDef> ID</th>
									<td mat-cell *matCellDef="let famille"> {{famille.id}} </td>
								</ng-container>

								<ng-container matColumnDef="famille">
									<th mat-header-cell *matHeaderCellDef> Famille d'article</th>
									<td mat-cell *matCellDef="let famille"> {{famille.famille}}</td>
								</ng-container>

								<ng-container matColumnDef="action">
									<th mat-header-cell *matHeaderCellDef></th>
									<td mat-cell *matCellDef="let famille">
										<button color="warn" (click)="deleteFamille(famille.id, famille.famille)"
												mat-mini-fab>
											<mat-icon>delete</mat-icon>
										</button>
									</td>
								</ng-container>


								<tr mat-header-row *matHeaderRowDef="familleColumns; sticky : true"></tr>
								<tr mat-row *matRowDef="let row; columns: familleColumns;"></tr>

							</table>
						</div>
					</div>
					<div class="col-md-1">
						<button (click)="addDialog('famille')" mat-fab color="primary">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
