.param-container {
	height: 35vh;
	width: 50%;
	margin: 30px;
}

.main-container {
	height: 90vh;
	width: 100vw;
	padding: 2%;
	background-color: #2a2828;
}

.row {
	padding-bottom: 5%;
}

table {
	width: 100%;
}

.table-container {
	height: 28vh;
	max-width: 100%;
	overflow: auto;
}


mat-sidenav-container {
	height: 85vh;


}

mat-sidenav {
	width: 200px;

}

mat-list {

}


.menu-button {
	background: rgba(0, 0, 0, 0);
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	height: 40px;
	border: none;
	padding-top: 7px;

	mat-icon {
		margin-right: 30px;
	}

}

.active {
	color: #58018d;
}
