<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<mat-form-field class="options">
				<mat-label>Choisir une date</mat-label>
				<input [(ngModel)]="document.date" matInput  [matDatepicker]="picker">
				<mat-hint>MM/JJ/YYYY</mat-hint>
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

		</div>
		<div class="col-md-4">
			<div class="options">
				<mat-radio-group [(ngModel)]="this.document.transaction"
								 (change)="this.document.client = null; this.document.fournisseur = null">
					<mat-radio-button color="primary" value="vente">Vente</mat-radio-button>
					<mat-radio-button color="primary" value="achat">Achat</mat-radio-button>
				</mat-radio-group>
				<mat-form-field style="margin-left: 30px">
					<mat-label>Type document</mat-label>
					<mat-select [(value)]="this.document.type">
						<mat-option value="devis">Devis</mat-option>
						<mat-option value="commande">Commande</mat-option>
						<mat-option value="bl">BL</mat-option>
						<mat-option value="bl_facture">BL Facturé</mat-option>
						<mat-option value="facture">Facture</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<ng-container *ngIf="document.transaction == 'achat'">
			<div class="col-md-5">
				<div class="options">
					<mat-form-field>
						<mat-label>Fournisseur</mat-label>
						<mat-select [(ngModel)]="this.document.fournisseur"
									(selectionChange)="this.document.client = null">
							<ng-container *ngFor="let fournisseur of fournisseurs">
								<mat-option [value]="fournisseur">{{fournisseur.raison_social}}</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>
					<button color="primary" (click)="AddFournisseur()" mat-mini-fab>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="document.transaction == 'vente'">
			<div class="col-md-5">
				<div class="options">
					<mat-form-field>
						<mat-label>Client</mat-label>
						<mat-select [(ngModel)]="this.document.client" (valueChange)="this.document.fournisseur = null">
							<ng-container *ngFor="let client of clients">
								<mat-option [value]="client">{{client.raison_social}}</mat-option>
							</ng-container>
						</mat-select>

					</mat-form-field>
					<button color="primary" (click)="AddClient()" mat-mini-fab>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			</div>
		</ng-container>

		<br>
	</div>
	<div class="row">
		<div class="col-md-10">
			<div class="row">
				<div class="mat-elevation-z8">
					<table mat-table [dataSource]="articleDocument">
						<ng-container matColumnDef="designation">
							<th mat-header-cell *matHeaderCellDef> Designation</th>
							<td mat-cell *matCellDef="let article"><p
								style="max-width: 200px"> {{article.article.designation}} </p></td>
						</ng-container>

						<ng-container matColumnDef="quantite">
							<th mat-header-cell *matHeaderCellDef> Quantité</th>
							<td mat-cell *matCellDef="let article"> {{article.quantite | number : '1.3-4'}} </td>
						</ng-container>

						<ng-container matColumnDef="unite">
							<th mat-header-cell *matHeaderCellDef> Unité</th>
							<td mat-cell
								*matCellDef="let article"> {{article.article.unite != null ? article.article.unite.unite : "--"}} </td>
						</ng-container>

						<ng-container matColumnDef="puht">
							<th mat-header-cell *matHeaderCellDef> PUHT</th>
							<td mat-cell *matCellDef="let article"> {{article.puht | number : '1.3-4'}} </td>
						</ng-container>

						<ng-container matColumnDef="tva">
							<th mat-header-cell *matHeaderCellDef> TVA</th>
							<td mat-cell
								*matCellDef="let article"> {{article.article.tva != null ? article.article.tva.base : "--"}} </td>
						</ng-container>

						<ng-container matColumnDef="puttc">
							<th mat-header-cell *matHeaderCellDef> PUTTC</th>
							<td mat-cell *matCellDef="let article"> {{(article.puht * article.quantite )| number : '1.3-4'}} </td>
						</ng-container>

						<ng-container matColumnDef="remise">
							<th mat-header-cell *matHeaderCellDef> Remise</th>
							<td mat-cell *matCellDef="let article"> {{article.remise}} </td>
						</ng-container>

						<ng-container matColumnDef="montant">
							<th mat-header-cell *matHeaderCellDef> Montant HT</th>
							<td mat-cell *matCellDef="let article"> {{(article.puht * article.quantite)  | number : '1.3-4'}} </td>
						</ng-container>


						<ng-container matColumnDef="action">
							<th mat-header-cell *matHeaderCellDef></th>
							<td mat-cell *matCellDef="let article; let index = index;">
								<button (click)="RemoveArticle(index)" color="warn" mat-mini-fab>
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>


						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

					</table>

					<mat-paginator [pageSizeOptions]="[5, 10, 20]"
								   showFirstLastButtons
								   aria-label="Select page of periodic elements">
					</mat-paginator>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8"></div>
				<div class="col-md-4">
					<mat-card class="calc-container">

						<mat-card-content>
							<p>Montant HT : {{montant_total  | number : '1.3-4'}}</p>
							<p>Montant TTC : {{montant_ttc | number : '1.3-4'}}</p>
							<p>Montant avec remise : {{montant_remise | number : '1.3-4'}}</p>
						</mat-card-content>

					</mat-card>

				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button mat-raised-button color="primary" (click)="AddDialog()">Ajouter un article</button>

			<button mat-raised-button color="primary" (click)="submit()">submit</button>
		</div>
	</div>
</div>
